.wrapper {
  display: grid;
  grid-gap: 2px;
  grid-auto-flow: column;
  padding: 10px;
}
.header1 {
  display: grid;
  grid-column-start: 1;
  grid-row-start: 1;
  padding: 5px;
  background-color: rgb(236, 236, 236);
  font-weight: bold;
  border: 1px solid;
}
.header2 {
  display: grid;
  grid-column-start: 2;
  grid-row-start: 1;
  padding: 5px;
  background-color: rgb(236, 236, 236);
  font-weight: bold;
  border: 1px solid;
}
.header3 {
  display: grid;
  grid-column-start: 3;
  grid-row-start: 1;
  padding: 5px;
  background-color: rgb(236, 236, 236);
  font-weight: bold;
  border: 1px solid;
}
.header4 {
  display: grid;
  grid-column-start: 4;
  grid-row-start: 1;
  padding: 5px;
  background-color: rgb(236, 236, 236);
  font-weight: bold;
  border: 1px solid;
}
.header5 {
  display: grid;
  grid-column-start: 5;
  grid-row-start: 1;
  padding: 5px;
  background-color: rgb(236, 236, 236);
  font-weight: bold;
  border: 1px solid;
}
.header6 {
  display: grid;
  grid-column-start: 6;
  grid-row-start: 1;
  padding: 5px;
  background-color: rgb(236, 236, 236);
  font-weight: bold;
  border: 1px solid;
}
.items {
  display: grid;
  padding: 5px;
  font-weight: bold;
  grid-column-start: 1;
}
.opening {
  display: grid;
  padding: 5px;
  grid-column-start: 2;
}
.sale {
  display: grid;
  padding: 5px;
  grid-column-start: 3;
}
.closing {
  display: grid;
  padding: 5px;
  grid-column-start: 4;
}
.inpute {
  display: grid;
  grid-column-start: 5;
}
.inputee {
  display: grid;
  grid-column-start: 6;
}
.rowstyle {
  display: grid;
  background-color: rgb(252, 252, 253);
}

/* .wrapper {
    display: grid;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    align-content: center;
    grid-template-columns: 20fr ;
} */
/* .wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }
  .one {
    grid-column: 1 / 3;
    grid-row: 1;
  }
  .two { 
    grid-column: 2 / 4;
    grid-row: 1 / 3;
  }
  .three {
    grid-column: 1;
    grid-row: 2 / 5;
  }
  .four {
    grid-column: 3;
    grid-row: 3;
  }
  .five {
    grid-column: 2;
    grid-row: 4;
  }
  .six {
    grid-column: 3;
    grid-row: 4;
  } */
/* https://getbootstrap.com/docs/4.0/content/tables/  
 https://itnext.io/building-a-dynamic-controlled-form-in-react-together-794a44ee552c
 */
